<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %> | <%= micropost.created_at.strftime("%b %d, %Y") %>
  </span>
  
  <span class="content">
    <strong>
    <%= micropost.content %>
    </strong></br>
    
   <%= image_tag micropost.picture.url if micropost.picture? %> 

   
    <%= link_to like_micropost_path(micropost),class: "btn btn-success btn-sm" ,method: :put do %>
   <span class="glyphicon glyphicon-thumbs-up"></span>
  <%= micropost.get_upvotes.size %>
  <% end %> | 
    <%= link_to dislike_micropost_path(micropost),class: "btn btn-info btn-sm", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-down"></span> 
  <%= micropost.get_downvotes.size %>

<% end %>
    
    <h4 style="text-align: center;"> Comments: ( <%= micropost.comments.count %> Comments till now ) </h4>
    <p> </p>
    <% micropost.comments.each do |comment| %>
   <%#=  %> 
   <strong ><%= comment.user.name %> :</strong>
    <%= comment.body%>
     <%= image_tag comment.picture.url if comment.picture? %>  |
    <%= comment.created_at.strftime("%b %d, %Y") %><br>

    <%= link_to like_comment_path(comment),class: "btn btn-success btn-sm" ,method: :put do %>
   <span class="glyphicon glyphicon-thumbs-up"></span> 
  <%= comment.get_upvotes.size %>
  <% end %> | 
    <%= link_to dislike_comment_path(comment),class: "btn btn-info btn-sm", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-down"></span> 
  <%= comment.get_downvotes.size %>

<% end %>

    <% if current_user?(comment.user) || current_user.admin? || current_user?(micropost.user)%>
       | <%= link_to "Delete Comment", comment ,method: :delete,
                                       data: { confirm: "You sure?" },class: "btn btn-danger btn-sm" %>
    <% end %> </br>
    <%  end %>
  </span>
  <p></p>
  <p></p>
  <p></p>
  <span class="timestamp">
    
  <%= form_for Comment.new  do |f| %>
      <%= f.label :comment, 'Add Comment' %>:
      <%= f.text_field :body, class: 'form-control', :required => true %><br />
      <span class="picture">
    <%= f.file_field :picture, accept:'image/jpeg,image/gif,image/png'%>
  </span>
  <br>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :micropost_id, :value =>  micropost.id %>
      <%= f.submit "Publish Comment"  ,:size => 50 , class: "btn btn-primary"%>
  <% end %>

   
    <p></p>
    <p></p>
   
     <% if current_user?(micropost.user) ||  current_user.admin? %>
      <%= link_to "Delete Microtale ", micropost, method: :delete,
                                       data: { confirm: "You sure?" },class: "btn btn-danger btn-sm" %>
    <% end %>
  </span>
</li>